<nav>
  <h1>Restaurants Booking App</h1>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/restaurants">Resturants List</a></li>
    <li><a href="/mybookings">My Bookings</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <hr>
</nav>